{% block upload_widget %}
{% spaceless %}
    {% if read_only %}
{% endif %}
    <div>
        <input data-upload-field="{{ value }}" type="file" id="{{ id }}" {% if disabled %} disabled="disabled"{% endif %} />
        <input type="hidden" name="{{ name }}" value="{{ value }}" />

        <ul class="uploaded-files unstyled" data-upload-files="{{ value }}">
            <li>
                <ul class="existing-files">
                    {% for file in files.existing %}
                        <li data-file="{{ file }}">{{ file|split('-', 2).1 }}</li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                <ul class="added-files">
                    {% for file in files.added %}
                        <li data-file="{{ file }}">{{ file|split('-', 2).1 }}</li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                <ul class="deleted-files">
                    {% for file in files.deleted %}
                        <li data-file="{{ file }}">{{ file|split('-', 2).1 }}</li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
{% endspaceless %}
{% endblock %}