{% block upload_widget %}
{% spaceless %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.cd-uploadmanager[data-upload-id="{{ value }}"]').uploadmanager();
        });
    </script>
    <div class="cd-uploadmanager clearfix" data-upload-url="{{ upload_url }}" data-upload-actions="{{ upload_actions }}" data-upload-id="{{ value }}">
        <script type="text/template" data-upload-template="existing-item">
            <li data-upload-file="" class="existing-file clearfix">
                <div class="file-name"></div>
                <div class="extended">
                    <a href="#delete">
                        <i class="icon-trash"></i>
                        Delete
                    </a>
                </div>
            </li>
        </script>
        <script type="text/template" data-upload-template="added-item">
            <li data-upload-file="" class="added-file clearfix">
                <div class="file-name"></div>
                <div class="extended">
                    <a href="#delete">
                        <i class="icon-trash"></i>
                        Delete
                    </a>
                </div>
            </li>
        </script>
        <script type="text/template" data-upload-template="process-item">
            <li class="process-file clearfix">
                <div class="file-name"></div>
                <div class="extended">
                    <i class="icon-spinner icon-spin"></i>
                    <span></span>
                </div>
            </li>
        </script>
        <script type="text/template" data-upload-template="removed-item">
            <li data-upload-file="" class="removed-file clearfix">
                <div class="file-name"></div>
                <div class="extended">
                    <a href="#restore">
                        <i class="icon-reply"></i>
                        Restore
                    </a>
                </div>
            </li>
        </script>
        
        <a href="javascript:void(0);" class="btn-upload"><i class="icon-folder-open-alt"></i></a>
        <input type="file" id="{{ id }}" {% if disabled %} disabled="disabled"{% endif %} multiple="multiple" />
        <input type="hidden" name="{{ full_name }}" value="{{ value }}" />

        <ul class="unstyled">
            <li>
                <ul data-upload-list="existing">
                    {% for file in files.existing %}
                        <li data-upload-file="{{ file }}" class="existing-file clearfix">
                            <div class="file-name">{{ file|split('-', 2).1 }}</div>
                            <div class="extended">
                                <a href="#delete">
                                    <i class="icon-trash"></i>
                                    Delete
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                <ul data-upload-list="added">
                    {% for file in files.added %}
                        <li data-upload-file="{{ file }}" class="added-file clearfix">
                            <div class="file-name">{{ file|split('-', 2).1 }}</div>
                            <div class="extended">
                                <a href="#delete">
                                    <i class="icon-trash"></i>
                                    Delete
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                <ul data-upload-list="removed">
                    {% for file in files.deleted %}
                        <li data-upload-file="{{ file }}" class="removed-file clearfix">
                            <div class="file-name">{{ file|split('-', 2).1 }}</div>
                            <div class="extended">
                                <a href="#restore">
                                    <i class="icon-reply"></i>
                                    Restore
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
{% endspaceless %}
{% endblock %}